.ui-schema-renderer {
  display: block;
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.ui-schema-renderer > * {
  min-width: 0;
}

.render-error {
  margin-top: 0.5rem;
  color: #c62828;
  font-size: 0.875rem;
}
